* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-hint {
  margin: 10px auto 0 auto;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 1.4;

}
.container {
  text-align: center;
}

.welcome-icon img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

/* Button Styling */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgb(0,0,0,0.7);
}

.icon-with-text {
  width: 20px;
  height: 20px;
  stroke: white;
}
